body {
  background: cyan;
}

* {
  padding: 0;
  margin: 0;
}

.slide-tile {
  width: 24.25%;
  height: auto;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.slide-tile img {
  border:none;
}

.slide-container {
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
}

/* ------- Flex Slider Styles -------- */

.flex-caption {
  width: 96%;
  padding: 2%;
  left: 0;
  bottom: 0;
  background: rgba(0,0,0,.5);
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,.3);
  font-size: 14px;
  line-height: 18px;
}

@media screen and (max-width: 720px) {
  .slide-tile {
    width: 49.5%;
  }
}

#rig {
    max-width: 100%;
    margin:0 auto; /*center aligned*/
    padding:0;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
    background-color:#000;
}

#rig li {
    display: inline-block;
    *display:inline;/*for IE6 - IE7*/
    width: 20%;
    vertical-align:middle;
    box-sizing:border-box;
    margin: 0;
    padding:0;
}

/* The wrapper for each item */
.rig-cell {
    margin: 5px;
    /*box-shadow:0 0 6px rgba(0,0,0,0.3);*/
    display:block;
    position: relative;
    overflow:hidden;
}

.heading {
  height: 50px;
  background-color: blue;
}
h1 {
  color: white;
  font-size: 16px;
}
/* If have the image layer */
.rig-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
}

#rig li:hover .rig-img {
    transform:scale(1.05);
}



iframe {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}
/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #3DC0F1 url(img/link.png) no-repeat center 20%;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}
#rig li:hover .rig-overlay {
    opacity:0.8;
}

/* If have captions */
.rig-text {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:18px;
    font-weight:bold;
    font-family: 'Oswald', sans-serif;
    font-weight:normal!important;
    top:40%;
    color:white;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all .3s;
}
/*#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}*/

@media (max-width: 9000px) {
    #rig li {
        width:25%;
    }
}

@media (max-width: 700px) {
    #rig li {
        width:33.33%;
    }
}

@media (max-width: 550px) {
    #rig li {
        width:50%;
    }
}




ul#filter {
  float: left;
  font-size: 16px;
  list-style: none;
  margin-left: 0;
  width: 100%;
}
ul#filter li {
  border-right: 1px solid #dedede;
  float: left;
  line-height: 16px;
  margin-right: 10px;
  padding-right: 10px;
}

ul#filter li:last-child { border-right: none; margin-right: 0; padding-right: 0; }
ul#filter a { color: #999; text-decoration: none; }
ul#filter li.current a, ul#filter a:hover { text-decoration: underline; }
ul#filter li.current a { color: #333; font-weight: bold; }
ul#portfolio a { display: block; width: 100%; }
ul#portfolio a:hover { text-decoration: none; }
ul#portfolio img { border: 1px solid #dedede; display: block; padding-bottom: 5px; }

ul#portfolio {
  float: left;
  list-style: none;
  margin-left: 0;
  width: 672px;
}
ul#portfolio li {
  border: 1px solid #dedede;
  float: left;
  margin: 0 10px 10px 0;
  padding: 5px;
  width: 202px;
}

ul#portfolio li { margin-right: 5px; }
